/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', serif;
}

.topo {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 100);
    display: flex;
}

.topo .titulo {
    margin: 0 auto;
    color: #fff;
    font-size: 2.5rem;
}

.rodape {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 100);
    display: flex;
    justify-content: end;
}

.corpo {
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 194, 194);
    height: 80vh;
}

.corpo .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
}

.corpo .input-form {
    height: 60vh;
    width: 30vw;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid rgb(121, 121, 121);
}

.output-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    padding: 20px;
}

.tabela-info {
    width: 10vw;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabela-info th,
.tabela-info td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.frequenciaGrafico {
    margin-top: 20px;
    max-width: 90%;
}
